.colorPicker {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.colorPickerOption {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.colorPickerOption.active {
  border: 2px solid black;
}
